@font-face {    font-family: 'UTMCOOPERBLACK_0';    src: url('utmcooperblack_0.ttf');}
@font-face {    font-family: 'Arial Narrow';    src: url('http://app.soosky.co/static/tool/fonts/arial_narrow_7.ttf');}
@font-face {    font-family: 'Bevan';    src: url('http://app.soosky.co/static/tool/fonts/Bevan.ttf');}
@font-face {    font-family: 'Bilbo Swash Caps';    src: url('http://app.soosky.co/static/tool/fonts/BilboSwashCaps-Regular.ttf');}
@font-face {    font-family: 'Boogaloo';    src: url('http://app.soosky.co/static/tool/fonts/Boogaloo-Regular.ttf');}
@font-face {    font-family: 'Bubblegum Sans';    src: url('http://app.soosky.co/static/tool/fonts/BubblegumSans-Regular.ttf');}
@font-face {    font-family: 'Cabin Condensed';    src: url('http://app.soosky.co/static/tool/fonts/CabinCondensed-Regular.ttf');}
@font-face {    font-family: 'Carme';    src: url('http://app.soosky.co/static/tool/fonts/Carme-Regular.ttf');}
@font-face {    font-family: 'Chau Philomene One';    src: url('http://app.soosky.co/static/tool/fonts/ChauPhilomeneOne-Regular.ttf');}
@font-face {    font-family: 'COMIC';    src: url('http://app.soosky.co/static/tool/fonts/COMIC.TTF');}
@font-face {    font-family: 'Courier New';    src: url('http://app.soosky.co/static/tool/fonts/courier new.ttf');}
@font-face {    font-family: 'Donegal One';    src: url('http://app.soosky.co/static/tool/fonts/DonegalOne-Regular.ttf');}
@font-face {    font-family: 'Exo';    src: url('http://app.soosky.co/static/tool/fonts/Exo2-Regular.ttf');}
@font-face {    font-family: 'Georgia Belle';    src: url('http://app.soosky.co/static/tool/fonts/Georgia Belle.ttf');}
@font-face {    font-family: 'Glegoo';    src: url('http://app.soosky.co/static/tool/fonts/Glegoo-Regular.ttf');}
@font-face {    font-family: 'Helvetica';     src: url('http://app.soosky.co/static/tool/fonts/Helvetica.otf');}
@font-face {    font-family: 'Julius Sans One';    src: url('http://app.soosky.co/static/tool/fonts/JuliusSansOne-Regular.ttf');}
@font-face {    font-family: 'Kalam';    src: url('http://app.soosky.co/static/tool/fonts/Kalam-Regular.ttf');}
@font-face {    font-family: 'KBREINDEER GAMES';    src: url('http://app.soosky.co/static/tool/fonts/KBREINDEERGAMES.ttf');}
@font-face {    font-family: 'Krona One';    src: url('http://app.soosky.co/static/tool/fonts/KronaOne-Regular.ttf');}
@font-face {    font-family: 'Lemon Milk';    src: url('http://app.soosky.co/static/tool/fonts/LemonMilk.otf');}
@font-face {    font-family: 'Marcellus';    src: url('http://app.soosky.co/static/tool/fonts/Marcellus-Regular.ttf');}
@font-face {    font-family: 'Merienda';    src: url('http://app.soosky.co/static/tool/fonts/Merienda-Regular.ttf');}
@font-face {    font-family: 'Neuton';    src: url('http://app.soosky.co/static/tool/fonts/Neuton-Regular.ttf');}
@font-face {    font-family: 'Nixie One';    src: url('http://app.soosky.co/static/tool/fonts/NixieOne-Regular.ttf');}
@font-face {    font-family: 'Open Sans Hebrew';    src: url('http://app.soosky.co/static/tool/fonts/OpenSansHebrew-Regular.ttf');}
@font-face {    font-family: 'Original Surfer';    src: url('http://app.soosky.co/static/tool/fonts/OriginalSurfer-Regular.ttf');}
@font-face {    font-family: 'Oxygen';    src: url('http://app.soosky.co/static/tool/fonts/Oxygen-Regular.ttf');}
@font-face {    font-family: 'Pacifico';    src: url('http://app.soosky.co/static/tool/fonts/Pacifico.ttf');}
@font-face {    font-family: 'Petrona';    src: url('http://app.soosky.co/static/tool/fonts/Petrona-Regular.ttf');}
@font-face {    font-family: 'Philosopher';    src: url('http://app.soosky.co/static/tool/fonts/Philosopher-Regular.ttf');}
@font-face {    font-family: 'Raleway';    src: url('http://app.soosky.co/static/tool/fonts/Raleway-Regular.ttf');}
@font-face {    font-family: 'Ranchers';    src: url('http://app.soosky.co/static/tool/fonts/Ranchers-Regular.ttf');}
@font-face {    font-family: 'Sacramento';    src: url('http://app.soosky.co/static/tool/fonts/Sacramento-Regular.ttf');}
@font-face {    font-family: 'SeoulHangang';    src: url('http://app.soosky.co/static/tool/fonts/SeoulHangang-Medium.ttf');}
@font-face {    font-family: 'Shadows Into Light';    src: url('http://app.soosky.co/static/tool/fonts/ShadowsIntoLight.ttf');}
@font-face {    font-family: 'Share';    src: url('http://app.soosky.co/static/tool/fonts/Share-Regular.ttf');}
@font-face {    font-family: 'Sintony';    src: url('http://app.soosky.co/static/tool/fonts/Sintony-Regular.ttf');}
@font-face {    font-family: 'Sorts Mill Goudy';    src: url('http://app.soosky.co/static/tool/fonts/SortsMillGoudy-Regular.ttf');}
@font-face {    font-family: 'Sue Ellen Francisco';    src: url('http://app.soosky.co/static/tool/fonts/SueEllenFrancisco.ttf');}
@font-face {    font-family: 'Sunshiney';    src: url('http://app.soosky.co/static/tool/fonts/Sunshiney.ttf');}
@font-face {    font-family: 'Tahoma';    src: url('http://app.soosky.co/static/tool/fonts/tahoma.ttf');}
@font-face {    font-family: 'Times New Roman MTS';    src: url('http://app.soosky.co/static/tool/fonts/TimesNewRomanMTStd-BoldCond.otf');}
@font-face {    font-family: 'Verdana';    src: url('http://app.soosky.co/static/tool/fonts/verdana.ttf');}
@font-face {    font-family: 'Yanone Kaffeesatz';    src: url('http://app.soosky.co/static/tool/fonts/YanoneKaffeesatz-Regular.ttf');}
